<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98826649118-5nlo7v322la66op8f26g1j2fgsr6a3te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98826649118-5nlo7v322la66op8f26g1j2fgsr6a3te</string>
	<key>API_KEY</key>
	<string>AIzaSyAd1ZjLN1m6mMgpdA2vOzjMEnDSXfenVas</string>
	<key>GCM_SENDER_ID</key>
	<string>98826649118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication6</string>
	<key>PROJECT_ID</key>
	<string>django-social-auth-379908</string>
	<key>STORAGE_BUCKET</key>
	<string>django-social-auth-379908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98826649118:ios:a4c41338b17ab05cedb80f</string>
</dict>
</plist>